
    <div ng-controller="ChatController">
        <div class="modal-header">
       Chat with {{user.username}}
       <i class="fa fa-circle status online" tooltip="is online" ng-if="listOnline|checkOnline: user.username"></i>
        <i class="fa fa-circle status offline" tooltip="is offline" ng-if="!(listOnline|checkOnline: user.username)"></i>
       <button type="button" class="close hidden-xs"><span aria-hidden="true"><i class="fa fa-expand"></i></span><span class="sr-only">Enlarge</span></button>
    </div>
    <div class="modal-body chat-modal">
        <ul class="well well-sm chat-content" scroll-glue>
            <li class="message" ng-repeat="m in msg">
            <div ng-class="{sendUser: m.userSend.displayName!=user.username}">
                <img src="{{m.userSend.avatar}}" class="userAvatar" alt="{{m.userSend.displayName}}">
                <span class="messageBody"><span ng-bind-html="m.msg | emoticons:{linkTarget:'_blank'}"></span> <p class="text-right"><i><small class="send_date">{{m.creationDate | fromNow}}</small></i></p></span>
            </div>
            </li>
        <p>&nbsp;</p>
        </ul>
    </div>
    <div class="modal-footer">
    <!-- <form name="form" class="form-horizontal" method="post" novalidate> -->
        <div class="input-group">
            <input type="text" placeholder="Enter message here , hit enter to submit" ng-model="formData.msg" name="chat-message" class="form-control inputMessage" />
            <input type="hidden" ng-model="formData.userRecive">
            <input type="hidden" id="userRecive" value="{{user.username}}">
            <span class="input-group-btn" style="border:none !important;">
                <button class="btn btn-submit chat-message-send-btn" type="button">Send out</button>
                <button class="btn btn-warning chat-close-btn"  ng-click="cancel()">Close</button>
            </span>
        </div>
    <!-- </form> -->
    </div>
    </div>
