<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        <h4 class="modal-title custom_align" id="Heading">{{data.title}}</h4>
    </div>
    <div class="modal-body">

        <div class="alert alert-warning"><span class="fa fa-warning"></span> {{data.message}}</div>
        <div class="form-group">
            <label for="reportContent" class="control-label">Content violates</label>
            <input type="text" name="reportContent" id="reportContent" ng-model="formData.reportContent" placeholder="Enter infringing content" class="form-control">
        </div>

    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-warning" ng-disabled="formData.reportContent==null" ng-click="ok()" ><span class="fa fa-check-circle-o"></span> Send Report</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()" ><span class="fa fa-times-circle-o"></span>Cancel</button>
    </div>
</div>
<!-- /.modal-content -->
