<div class="modal-header">
Upload pictures
</div>
<div class="modal-body">
    <div class="alert alert-warning alert-dismissable" ng-show="showAlert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
     File maximum capacity is 1M , please choose another image
  </div>
  <img ng-src="uploads/images/{{imgUrl}}" class="img-responsive center-block" alt="Avatar" ng-hide="showUpload" style="max-width:200px;">
  <div class="form-group">
     <label for="userPhoto">Upload a photo</label>
     <input type="file" ng-file-select="onFileSelect($files)" accept="image/*" value="Select image files" name="avatar" ng-show="showUpload">
     <p class="help-block">You can only upload files PNG , JPG or GIF <span id="file-size-block" class=""> (The maximum <span id="upload-file-size">1</span> MB.)</span></p>
  </div>
  <div class="progress progress-striped" style="border-radius:0px;margin-top:10px;">
    <div class="progress-bar"  role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{uploadper}}%">
        {{uploadper}}%
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-if="imgUrl" placeholder="Code to insert images" value="![img](/uploads/images/{{imgUrl}})">
  </div>
  <div class="form-group">
    <p class="text-success" ng-if="imgUrl">Upload successful ! Please copy and paste the above link into the message box.</p>
  </div>
</div>
<div class="modal-footer" style="margin-top:0px;">
    <button class="btn btn-submit" ng-click="ok()" ng-disabled="showUpload">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
