<div class="background-main-content">
<div class="row select-category">
      <div class="pull-left col-md-6 current-category">
         <span><i class="fa fa-question"></i> Configuration Management System</span>
      </div>
      <div class="pull-right">
        <a ui-sref="system" class="btn btn-submit btn-return"><i class="fa fa-mail-reply"></i> Back to Dashboard</a>
      </div>
      <div class="clearfix"></div>
    </div>
   <!-- END SELECT-CATEGORY -->
  <div class="col-md-12">
    <a ui-sref="system-setting-about" class="btn btn-submit">About</a>
    <a ui-sref="system-setting-policy" class="btn btn-submit">Rules &amp; Regulation</a>
    <a ui-sref="system-setting-help" class="btn btn-submit">Guide</a>
  </div>
</div>

