<style>

.table th:nth-child(3),
.table td:nth-child(3){
  text-align: left;
}
.table th:nth-child(8),
.table td:nth-child(8),
.table th:nth-child(7),
.table td:nth-child(7),
.table th:nth-child(4),
.table td:nth-child(4){
text-align: center;
width: 5em;
}
.table th:nth-child(5),
.table td:nth-child(5){
  width: 10em;
}
</style>
<div class="background-main-content">
<div class="row select-category">
      <div class="col-xs-6 pull-left current-category">
         <span><i class="fa fa-users"></i> Manage members</span>
      </div>
      <div class="pull-right">
        <a ui-sref="system" class="btn btn-submit btn-return"><i class="fa fa-mail-reply"></i> Back to Dashboard </a>
      </div>
      <div class="clearfix"></div>
   <!-- END SELECT-CATEGORY -->
   <div ng-controller="UserController">
         <form id="system-form">

         <div class="col-xs-12">
             <table class="table table-bordered table-hover">
                 <thead>
                     <tr>
                         <th>SNO</th>
                         <th>Display Name</th>
                         <th>Email</th>
                         <th>Point</th>
                         <th>Group</th>
                         <th>Join Date</th>
                         <th>Role</th>
                         <th>Delete Account</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr ng-repeat="u in allUser">
                      <td>{{$index+1}}</td>
                      <td><a ui-sref="profile({ user_id:u._id })" ng-bind="u.displayName"></a></td>
                      <td ng-bind="u.email"></td>
                      <td ng-bind="u.reputation"></td>
                      <td ng-if="u.role=='user'">Member</td>
                      <td ng-if="u.role=='admin'">Administrator</td>
                      <td ng-bind="u.creationDate| toDate | date:'dd/MM/yyyy'"></td>
                      <td><a ui-sref="system-user-permission({id: u._id})" class="btn btn-submit">User Permission</a></td>
                      <td><button type="button" ng-click="deleteUser(u._id,'system/users')" class="btn btn-danger"><i class="fa fa-trash-o"></i> Erase</button></td>
                     </tr>
                 </tbody>
             </table>
         </div>

         </form>
   </div>
 </div>
</div>