  <div class="background-main-content">
<div class="row select-category">
      <div class="pull-left col-md-6 current-category">
         <span><i class="fa fa-user"></i> Manage members</span>
      </div>
      <div class="pull-right">
        <a ui-sref="system" class="btn btn-submit btn-return"><i class="fa fa-mail-reply"></i> Back to Dashboard</a>
      </div>
      <div class="clearfix"></div>
   <!-- END SELECT-CATEGORY -->
   <div>
         <div class="col-xs-6 col-xs-offset-3">
          <h4 class="text-center" style="margin-bottom: 30px;">Manage Member</h4>
           <form name="form" class="form-horizontal" method="post" novalidate>
             <div class="form-group">
                 <label for="name" class="col-sm-4 control-label required">Name</label>
                 <div class="col-sm-8">
                      <input type="hidden" ng-model="formData._id">
                     <p style="margin-top:8px"><strong ng-bind="formData.displayName"></strong></p>
                 </div>
             </div>
             <div class="form-group">
                 <label for="score" class="col-sm-4 control-label required">Group members</label>
                 <div class="col-sm-8">
                      <md-select name="myModel" placeholder="Pick" ng-model="formData.role" style="padding-top:0" required>
                        <md-option value="user"  ng-selected="formData.role=='user'">Member</md-option>
                        <md-option value="admin"  ng-selected="formData.role=='admin'">Administrators</md-option>
                      </md-select>
                 </div>
             </div>
             <div class="form-group">
                <label class="col-sm-4 control-label">&nbsp;</label>
                <div class="col-sm-8">
                 <md-button type="submit" ng-click="updatePermission()" ng-disabled="!formData.role" class="md-raised md-primary"><small><span ng-show="!Proccess"><i class="fa fa-edit"></i></span><span ng-show="Proccess" ><i class="fa fa-spinner fa-spin"></i></span></small> Update</md-button>
               </div>
             </div>
         </form>
         </div>
   </div>
 </div>
</div>