<div class="background-main-content">
<div class="row select-category">
   <div class="col-md-12 col-xs-12 current-category">
      <span><i class="fa fa-cogs"></i> System Management</span>
   </div>
</div>
<div class="col-xs-12">
      <div class="menu">
         <a ui-sref="system-question" class="col-md-2 col-sm-5 col-xs-5">
         <i class="fa fa-question"></i><br> <span>Questions</span>
         </a>
         <a ui-sref="system-answer" class="col-md-2 col-sm-5 col-xs-5">
         <i class="fa fa-comments"></i><br> <span>Answers</span>
         </a>
         <a ui-sref="system-tag" class="col-md-2 col-sm-5 col-xs-5">
         <i class="fa fa-tags"></i><br> <span>Tags</span>
         </a>
         <a ui-sref="system-badge" class="col-md-2 col-sm-5 col-xs-5">
         <i class="fa fa-th-list"></i><br> <span>Reputation</span>
         </a>
         <a ui-sref="system-user" class="col-md-2 col-sm-5 col-xs-5">
         <i class="fa fa-user"></i><br> <span>Member</span>
         </a>
         <a ui-sref="system-report" class="col-md-2 col-sm-5 col-xs-5">
         <i class="fa fa-flag"></i><br> <span>Violate</span>
         </a>
         <a ui-sref="system-setting" class="col-md-2 col-sm-5 col-xs-5">
         <i class="fa fa-cogs"></i><br> <span>Configuration</span>
         </a>
      </div>
   </div>
</div>