  <div class="background-main-content">
<div class="row select-category">
      <div class="pull-left col-md-6 current-category">
         <span><i class="fa fa-question"></i> Manage title</span>
      </div>
      <div class="pull-right">
        <a ui-sref="system" class="btn btn-submit btn-return"><i class="fa fa-mail-reply"></i> Back to Dashboard</a>
      </div>
      <div class="clearfix"></div>
    </div>
   <!-- END SELECT-CATEGORY -->
   <div ng-controller="BadgeController">
         <div class="col-xs-6 col-xs-offset-3">
          <h4 class="text-center">Add a new title</h4>
           <form name="form" class="form-horizontal" method="post" novalidate>
             <div class="form-group">
                 <label for="name" class="col-sm-3 control-label required">Name</label>
                 <div class="col-sm-9">
                     <input name="name" type="text" ng-model="formData.name" class="form-control" id="name" placeholder="Title Name" required maxlength="255">
                 </div>
             </div>
             <div class="form-group">
                 <label for="score" class="col-sm-3 control-label required">Points</label>
                 <div class="col-sm-9">
                     <input type="number" class="form-control" ng-model="formData.score" id="score" placeholder="Points required">
                 </div>
             </div>
             <div class="form-group">
                 <label for="score" class="col-sm-3 control-label">Describe</label>
                 <div class="col-sm-9">
                   <textarea class="form-control" ng-model="formData.description" id="description" placeholder="Describe"></textarea>
                 </div>
             </div>
             <div class="form-group">
                 <label for="color" class="col-sm-3 control-label required">Color</label>
                 <div class="col-sm-9">
                     <input type="color" class="form-control" ng-model="formData.color" id="color" placeholder="Color">
                 </div>
             </div>
             <div class="form-group">
                <label class="col-sm-3 control-label">&nbsp;</label>
                <div class="col-sm-9">
                 <button type="submit" ng-click="createBadge()" class="btn btn-submit"><small><span ng-show="!Proccess"><i class="fa fa-plus"></i></span><span ng-show="Proccess" ><i class="fa fa-spinner fa-spin"></i></span></small> Add</button>
               </div>
             </div>
         </form>
         </div>
   </div>
</div>