  <div class="background-main-content">
<div class="row select-category">
      <div class="pull-left col-md-6 current-category">
         <span><i class="fa fa-tag"></i> Tag Management</span>
      </div>
      <div class="pull-right">
        <a ui-sref="system" class="btn btn-submit btn-return"><i class="fa fa-mail-reply"></i> Back to Dashboard</a>
      </div>
      <div class="clearfix"></div>
   <!-- END SELECT-CATEGORY -->
   <div ng-controller="TagDetail">
         <div class="col-xs-6 col-xs-offset-3">
          <h4 class="text-center">Edit Tag</h4>
           <form name="form" class="form-horizontal" method="post" novalidate>
             <div class="form-group">
                 <label for="name" class="col-sm-2 control-label required">Name</label>
                 <div class="col-sm-10">
                     <input name="name" type="text" ng-model="formData.tagName" class="form-control" id="name" placeholder="Tag Name" required="" maxlength="255" ng-disabled="true">
                 </div>
             </div>
             <div class="form-group">
                 <label for="description" class="col-sm-2 control-label required">Describe</label>
                 <div class="col-sm-10">
                     <textarea name="description" class="form-control" id="description" placeholder="Describe" ng-model="formData.description" style="resize: vertical; min-height: 100px;"></textarea>
                 </div>
             </div>
             <div class="form-group">
                <label class="col-sm-3 control-label">&nbsp;</label>
                <div class="col-sm-9">
                 <button type="submit" ng-click="updateTag()" class="btn btn-submit"><small><span ng-show="!Proccess"><i class="fa fa-edit"></i></span><span ng-show="Proccess" ><i class="fa fa-spinner fa-spin"></i></span></small>Submit</button>
               </div>
             </div>
         </form>
         </div>
   </div>
 </div>
</div>