 <div class="page-404-wrapper">
<p class="number-404">
      4<span><i class="fa fa-question-circle"></i></span>4
  </p>
  <p class="title-404">Page Not Found request
    </p>
  <p class="text-404">
    This page does not exist. Make sure the address you typed is correct    </p>
  <a ui-sref="home" class="btn btn-submit" style="margin-top: 15px;"><i class="fa fa-home"></i> Back to home </a>
</div>