<div class="background-main-content">
<div class="intro-content-wrapper">
    <div class="form-signup-wrapper">
        <div id="register" class="animate ">
        <h3 class="title">Sign up</h3>
            <form id="sign_up" class="form-horizontal" name="form" ng-submit="signup()" novalidate>
                <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <md-input-container>
                            <label>Email</label>
                            <input type="email" required name="email" ng-model="userData.email" autocomplete="off">
                            <div ng-messages="form.email.$error" ng-if="form.email.$dirty">
                              <div ng-message="required">Email should not be empty</div>
                              <div ng-message="email">Invalid email</div>
                            </div>
                        </md-input-container>

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <md-input-container>
                            <label>Display Name</label>
                            <input required name="username" ng-model="userData.displayName" autocomplete="off">
                            <div ng-messages="form.username.$error" ng-if="form.username.$dirty"  md-maxlength="25" minlength="8">
                              <div ng-message="required">Name must not be blank .</div>
                              <div ng-message="minlength">Name must be longer than 8 characters</div>
                              <div ng-message="md-maxlength">The name must be shorter than 25 characters</div>
                            </div>
                        </md-input-container>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <md-input-container>
                            <label>Password</label>
                            <input type="password" required name="password" ng-model="userData.password"  md-maxlength="25" minlength="8">
                            <div ng-messages="form.password.$error" ng-if="form.password.$dirty">
                              <div ng-message="required">Your password is blank.</div>
                              <div ng-message="minlength">Passwords must be at least 8 characters</div>
                              <div ng-message="md-maxlength">Passwords must be shorter than 25 characters</div>
                            </div>
                        </md-input-container>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <md-input-container>
                            <label>Confirm Password</label>
                            <input type="password" required name="re_password" ng-model="userData.repassword" password-match="userData.password">
                            <div ng-messages="form.re_password.$error" ng-if="form.re_password.$dirty">
                              <div ng-message="unique">Password mismatch</div>
                            </div>
                        </md-input-container>
                        </div>
                    </div>
                <div class="form-group" style="padding:0 10px">
                    <p class="terms-intro">
                   You must read and agree to the <a target="_blank"  href="#">Policies and Regulations </a> before registration website .
                    </p>
                </div>
                <div class="form-group" style="padding:0 10px">
                    <md-button class="md-raised md-primary" type="submit" ng-disabled="!form.$dirty || (form.$dirty && form.$invalid)"><i class="fa fa-spinner fa-spin" ng-show="Proccess" ></i> Register</md-button> <a ui-sref="login">Login if you are already a member</a>
                </div>
                <div class="form-group" style="padding:0 10px">
                    <h4 class="title">Subscribe via social networks</h4>
                    <md-button class="md-raised md-primary" href="/auth/facebook" target='_self'><i class="fa fa-facebook" ></i> Facebook Account</md-button>
                    <md-button class="md-warn md-raised md-hue-2" href="/auth/google" target='_self'><i class="fa fa-google-plus"></i>Google Account</md-button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END FORM -->
</div>