<div class="col-md-6 col-sm-6 copyright">
  2015 &copy; GovTalk - now you can post questions! <a ui-sref="policy">Rules &amp; Regulations.</a>
</div>
<!-- / copyright -->
<div class="col-md-6 col-sm-6">
  <ul class="social-footer list-unstyled list-inline pull-right">
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
   <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-skype"></i></a></li> 
    <li><a href="#"><i class="fa fa-dropbox"></i></a></li>-->
    <li><a href="#"><i class="fa fa-github"></i></a></li>
    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
   
  </ul>
</div>
  <div id="fb-root"></div>